body{
    direction:rtl;
}
img{
    float:center;
    display:block;
    margin:auto;
}
          nav { 
            background:#333; 
            padding:10px;
            direction:rtl;
        }
    nav a { 
        color:white;
         margin-right:10px;
          text-decoration:none;
        }